/* Home section */

.home {
    position: relative;
    background-color: rgb(255, 255, 255, 0.5);
}

.overlay {
    background-size: cover;
    background-image: url(../../ntnu.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(8px);
}

.home-title {
    text-transform: uppercase;
    font-size: 3.1rem;
}

.home-text {
    margin: 15px 0;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 2rem;
}

.home .btn {
    color: white;
    min-width: 160px;
    padding: 15px 0;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}
