.strength {
    margin-top: 20px;
    display: flex;
    height: 20px;
    width: 100%;
    gap: 5px;
}

.bar {
    height: 100%;
    width: 25%;
    transition: box-shadow 500ms;
    box-shadow: inset 0px 20px #e7e7ed;
}

.bar-show {
    box-shadow: none;
}

.bar-1 {
    background: linear-gradient(to right, red, orangered);
}

.bar-2 {
    background: linear-gradient(to right, orangered, yellow);
}

.bar-3 {
    background: linear-gradient(to right, yellow, yellowgreen);
}

.bar-4 {
    background: linear-gradient(to right, yellowgreen, green);
}
